.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button:focus {
  outline: none;
}
/*
.fixed-top{
  z-index: 1;
}*/

/* .LeftBar{
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 9999;
} */

.Sidebar{
	background: #1A2325
}
.HeaderAccount{
  position: absolute;
  top: 5%;
  right: 1%;
  z-index: 2000;
  background-color: rgb(80, 80, 80);
  border-radius: 30px;
  
  border-style: solid;
  border-width: thin;
  border-color: rgba(255, 255, 255, 0.63);
  padding-left: 1%;
  margin-top: 10px;
}

.CardNoPaddingTop{
  padding-top: 0;
}

.badgeRed{
  background-color: rgb(255, 73, 73);
  padding-left: 15%;
  padding-right: 15%;
  border-radius: 20%;
  padding-bottom: 10%;
  color: black;
}
.suffix-wrapper{
  padding-bottom: 3%;
}

.pageTitle{
  position: absolute;
  top: 5%;
  left: 5%;
  color: white;
}

.backgroundLogin{
   
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(190,190,190,1) 23%, rgba(0,0,0,1) 79%);  
}
.backgroundPages{
  background: rgb(242,242,241);
  background: linear-gradient(180deg,rgba(53,53,53,1) 300px, rgba(242,242,241,1) 300px);
}

.backgroundLogin .vheight-100{
   
  background-image: url("./img/logo.png");
  background-repeat: no-repeat;
  background-size: 500px 500px;
	background-position: 95% 100%;
}

.MuiTableCell-root{
  font-size: 1.1rem !important;
  white-space: break-spaces !important;
  /*text-align: center !important*/ 
}

.pro-item-content{
  white-space: break-spaces !important;
}

.statisticCard{
  min-height: 120px;
  max-height: 200px;
}

.statisticsIcon{
  min-height: 50px;
  max-height: 50px;
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.6em 0.7em;
}

.titleStatisticsCard{
  color: grey;
  font-weight: 22;
  font-size: small;
}

.titleUploadCard{
  color: black;
  font-weight: 42;
  font-size: medium;
}

.contentStaticsCard{
  color: black;
  font-weight: 500;
}

.statIcon1{
  background-color: #f5365c;
  color: white;
  min-height: 50px;
  max-height: 50px;
  display: inline-block;
  border-radius: 60px;
  /*box-shadow: 0px 0px 2px #888;*/
  padding: 0.9em 0.65em;
}

.statIcon2{
  background-color: #fb6340;
  color: white;
  min-height: 50px;
  max-height: 50px;
  display: inline-block;
  border-radius: 50px;
  /*box-shadow: 0px 0px 2px #888;*/
  padding: 0.9em 0.75em;
}

.statIcon3{
  background-color: #fb6340;
  color: white;
  min-height: 50px;
  max-height: 50px;
  display: inline-block;
  border-radius: 50px;
  /*box-shadow: 0px 0px 2px #888;*/
  padding: 0.9em 0.7em;
}

.statIcon4{
  background-color: #ffd600;
  color: white;
  min-height: 50px;
  max-height: 50px;
  display: inline-block;
  border-radius: 50px;
  /*box-shadow: 0px 0px 2px #888;*/
  padding: 0.9em 0.7em;
}
 
.statIcon1 svg{
  padding-bottom: 6px;
}
.statIcon2 svg{
  padding-bottom: 7px;
}
.statIcon3 svg{
  padding-bottom: 6px;
}
.statIcon4 svg{
  padding-bottom: 6px;
}

.MuiFormControl-marginNormal{
  margin-top:0 !important;
}

.TableFilterCell-cell-28:nth-child(6) div{
  visibility:hidden;
}

.TableFilterCell-cell-28:nth-child(7) div{
  visibility:hidden;
}

.pro-sidebar-content {
  background-image: url("./img/logo.png");
  background-repeat: no-repeat;
  background-size: 500px 500px;
	background-position: 95% 155%;
}
